:root {
	--clr-key: hsl(0, 0%, 29%);
	--clr-strong: hsl(0, 0%, 21%);
	--clr-light: hsl(0, 0%, 50%);
	--clr-link-hover: hsl(240, 100%, 47%);
	--clr-background: hsl(0, 0%, 100%);
	--clr-input-shadow: hsla(0, 0%, 4%, 0.1);
	--clr-background-tr-bright: hsla(0, 0%, 100%, 0.9);
	--clr-background-tr-dark: hsla(0, 0%, 29%, 0.6);
	--clr-background-list-row: hsl(0, 0%, 96%);

	--clr-rnd-1: hsl(14, 85%, 50%);
	--clr-rnd-2: hsl(279, 85%, 50%);
	--clr-rnd-3: hsl(201, 85%, 50%);
}